---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="cornwall-ponds-gemini">
  <Hero />
  <div class="container mx-auto max-w-3xl px-4 py-2">
    <div class="grid gap-6"></div>
  </div>
</Layout>

