---
import SignInForm from "../components/SignInForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign In - Cornwall Ponds">
  <section class="auth-page">
    <SignInForm />
  </section>
</Layout>

<style>
  .auth-page {
    min-height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    background-color: var(--muted);
  }
</style>
